h1{
	text-align: center;
	color:black;
}
*{
	box-sizing: border-box;
}
p{
	padding: 10px;

}
#ad{
	 background-color:gray; 
	 position: relative;
	 border:5px solid white;
	 box-sizing: border-box;
	 
	
}
#mn{
	background-color: pink;
	position: absolute;
	right:0px;
	width: 32%;
	border:2px solid black;
  text-align: center;
  border-top: 0;
	
}
#mn1{
	background-color: green;
	position: absolute;
	right:0px;
	width: 52px;
	border:2px solid black;
  text-align: center;
  border-top: 0;
}
#mn2
{
	background-color: yellow;
	position: absolute;
	right:0px;
	width: 52px;
	border:2px solid black;
  text-align: center;
  border-top: 0;
}
@media (min-width: 992px) {
    
    .col-lg-4 {
    width: 33.33%;
    float: left;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  
  .col-md-12 {
    width: 100%;
    float: left;
  }
}